html {
  background: hsla(0, 100%, 100%, .4);
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background:transparent;
  display: flex;
  flex-flow: column nowrap;
  flex-direction: column;
  font-family: monospace;
  font-size: 2em;
  position: relative;
  min-height: 100vh;
  margin: 0;
  justify-content: flex-end;
}

.custextareasdontdopseudoelements {
  display: flex;
  flex-flow: row nowrap;
  border-top: 1px solid #ccc;
  padding: .25em;
/*  position: absolute;
  bottom: 0;*/
  width: 100%;
  background-color: #eee;
  &::before {
    content: '>';
    display: block;
    color: #ccc;
    padding: .25em 0;
  } 
}

#repl {
  height: 1.5em;
  max-height: 80vh;
  font-size: 1em;
  border: none;
  padding: .25em 0 .25em 1em;
  font-family: monospace;
  flex: 1 1 100%;
  background: transparent;
  tab-size: 4;
  &:focus {
    outline: none;
  }
}

.rep {
  margin: 1em 0;
}

.entry,
.result {
  padding-left: 1em;
  position: relative;
  margin: 0;
  
  &::before {
    position: absolute;
    left: .125em;
  }
}

.entry {
  color: hsla(200, 50%, 50%, 1);
  
  &::before {
    content: '>';
  }
}

.result {
  color: #333;
  
  &::before {
    color: hsla(200, 50%, 50%, 1);
    content: '<';
  }
}

.undefined,
.null {
  color: #999;
}
.string {
  color: hsl(10, 50%, 50%);
}

